body {
	font-family: "museo-sans", sans-serif;
}

h1 {
  color: #fcfaf2;
}


.nav {
}

.hero {
	background-color: #fcfaf2;
}

.hero h2 {
	color: #ff6d2c;
  text-align:center;
}

.hero h3 {
	color: #6e69c9;
}

.hero-image {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: url(logo.svg) no-repeat;
  background-size: cover;
}


.lineup {
	color: #ffdcc2;
	background-color: #ff6d2c;
}

.lineup .speaker {
	font-weight: 700;
}

.lineup .games {
	font-weight: 100;
}

.signup {
	color: #fcfaf2;
	background-color: #ffcb39;
}

.footer {
	color: #fcfaf2;
	background-color: #2896a5;
}
